.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    
  
    &__header {
      font-size: 36px;
      font-weight: bold;
    }
  
    &__description {
      font-size: 16px;
      font-weight: 300;
      line-height: 32px;
      text-align: center;
    }
  }

  .project {
    background-color: $projectBackground;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    color: $lightConsole;
    font-size: 13px;
    font-family: Roboto Mono;
    font-style: normal;
    line-height: 24px;
    margin: 16px 0;

    &__circle {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $projectCircle;
      margin-right: 8px;
    }

    &__window {
      display: flex;
      align-items: center;
      height: 40px;
      background-color: $projectHeader;
      border-radius: 16px;
      padding-left: 16px;
    }

    &__content {
      padding: 24px 16px;
    }

    &__label {
      display: block;
      text-align: right;
      color: $console;
      font-weight: normal;
    }

    &__grid {
      display: grid;
      grid-template-columns: 102px 1fr;
      column-gap: 8px;
    }

    &__title {
      font-style: normal;
      font-size: 13px;
      line-height: 24px;
      font-weight: bold;
      color: #fff;
    }

    &__link {
      color: $light-blue;
    }
  }

  .projects-grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;

    @media (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
  