.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  font-style: normal;
  margin: 32px 0;

  @media (min-width: $tablet) {
    max-width: 768px;
    margin: 64px auto;
  }

  @media (min-width: $desktop) {
    max-width: 100%;
  }

  &__bubble {
    position: absolute;
    top: 16px;
    left: calc(50% + 70px);
  }

  &__image {
    height: 120px;
    width: 120px;
    object-fit: cover;
    background-position: top center;
    border: 12px solid $list-color;
    border-radius: 50%;
    margin: 16px 0;

    @media (min-width: $desktop) {
      height: 178px;
      width: 178px;
      border: 16px solid $list-color;
    }
  }

  &__hello {
    display: none;

    @media (min-width: $desktop) {
      display: block;
      background-color: $nice-blue;
      color: #fff;
      padding: 12px;
      border-radius: 16px;
      text-align: center;
      font-weight: bold;
      font-size: 32px;
      position: relative;

      &::after {
        display: block;
        content: "";
        width: 18px;
        height: 23px;
        position: absolute;
        top: 80%;
        left: 16px;
        background: url("../assets/img/speech.svg");
      }
    }
  }


  &__header {
    font-weight: bold;
    font-size: 26px;
    text-align: center;

    &--distinction {
      color: $nice-blue;
    }
  }

  &__paragraph {
    font-weight: 300;
    font-size: 16px;
    text-align: center;

    &--link {
      text-decoration: none;
      font-weight: bold;
      color: $link;
    }
  }

  &__mail {
    background-color: $link;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 64px;
    font-size: 16px;
    margin-top: 48px;
  }

  &__description-container {
    text-align: center;
    line-height: 32px;

    @media (min-width: $desktop) {
      max-width: 786px;
      margin: 0 auto;
      position: relative;

      &::before, &::after {
        width: 83px;
        height: 255px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
      }

      &::before {
        background: url('../assets/img/left-bracket.svg');
        right: 100%;
      }

      &::after {
        background: url('../assets/img/right-bracket.svg');
        left: 100%;
      }
    }
  }
}

@keyframes wave {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(30deg) scale(1.15);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.hand {
    display: inline-block;
    animation: wave 2s cubic-bezier(1, 0, 0, 1) infinite;
    transform-origin: center center;
}
