//Colors
$link: #4DA8FF;
$font-color: #234361;
$light-blue: #14B5D0;
$list-color: #DBEAF7;
$nice-blue: #1070CA;
$nice-green: #06C847;
$projectBackground: #212528;
$projectHeader: #1E1E1E;
$projectCircle: #464A4D;
$console: #808082;
$lightConsole: #A3A3A3;

//Sizes
$tablet: 768px;
$desktop: 960px;